<div class="center hero-unit">
  <h1>Weather Forecaster</h1>

  <h2>
    Gather ground surface weather data.
  </h2>

<!--   <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %> -->
</div>