<div class="center hero-unit">
  <h1>Hello, ULAP</h1>

  <h2>
    Ubiquitous Local ground surface weather data Aggregation and Processing
  </h2>

<!--   <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %> -->
</div>

<%= image_tag("homeCloud.png", size: "556x242") %>  
<!-- <img src="app/assets/images/homeCloud.png" class="img-responsive" alt="Responsive image"> -->
