<div class="row">
	<h1>Jane Louie Fresco Zamora</h1>
	<div class="col-md-3", align>
		<br>
<%= image_tag("profile.jpg", size:"150", alt:"profile") %>
	</div>

	<div class="col-md-6">
  		<h4 class="text-left">
    	Ph.D. Candidate <br> 
  		<a href="http://iplab.naist.jp/" target="_blank">Internet Engineering Laboratory&nbsp;</a><br>
  		<a href="http://isw3.naist.jp/home-en.html" target="_blank">Graduate School of Information Science&nbsp;</a><br>
  		<a href="http://www.naist.jp/en/" target="_blank">Nara Institute of Science and Technology (NAIST)&nbsp;</a>
	</h4>
	</div>
</div>

<br>
<br>

<div class="row">
	<div class="col-md-4">
		<h1 class="text-right">Education</h1>
	</div>

	<div class="col-md-8">
		<ul>
			<li>June 2008 - October 2010 &nbsp; &nbsp; M.Sc. Electronics and Communications Engineering &nbsp; &nbsp; Ateneo de Manila University&nbsp;</li>

			<li>June 2003 - March 2008 &nbsp; &nbsp; &nbsp; B.S. Electronics and Communications Engineering &nbsp; &nbsp; &nbsp; Ateneo de Manila University&nbsp;</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h1 class="text-right">Work Experience</h1>
	</div>

	<div class="col-md-8">
		<ul>
			<li>Organizer, NAIST Program for Filipino Student Interns -&nbsp;March &amp;&nbsp;October 2012, October 2013&nbsp;</li>
			<li>DOST-ERDT Project Research Assistant - November 2010 to April 2011</li>
			<li>Part-time Lecturer:&nbsp;Lab Instructor - October 2010 to March 2011</li>
			<li>Intern IPLab - March 7 to 17, 2010</li>
			<li>Intern A*Star Institute for Infocomm Research&nbsp;- September 2008 to January 2009&nbsp;</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h1 class="text-right">Publications</h1>
	</div>

	<div class="col-md-8">
		<ul>
<li>Libatique, N. J C; Tangonan, G.L.; Gustilo, R.; Seah, W.K.-G.; Pineda, C.; Guico, M.L.; Abrajano, G.; Ching, R.;&nbsp;<strong>Zamora, J.L.</strong>; Espinosa, A.; Valera, A.C.; Lamac, R.; Dy, H.; Pusta, J.; Trono, E. M.; Gimpaya, A.; San Luis, J.R.; Gonzales, S. J.; Lotho, A. T., "Design of a tropical rain - Disaster alarm system: A new approach based on wireless sensor networks and acoustic rain rate measurements," Instrumentation and Measurement Technology Conference, 2009. I2MTC '09. IEEE , vol., no., pp.1337,1340, 5-7 May 2009</li>
<li><strong>Zamora, J.L.F.</strong>; Ching, R.H.N.; Abrajano, G.D.; Tangonan, G.L.; Libatique, N.J.C.; Guico, M.L.; Lamac, R. "Rain-Induced Disaster Alarm System Using Microwave and Acoustic Sensing",&nbsp; Global Humanitarian Technology Conference (GHTC), 2011 IEEE, On page(s): 437 - 441</li>
<li>Noriyuki Suzuki,&nbsp;<strong>Jane Louie Fresco Zamora</strong>, Shigeru Kashihara, and Suguru Yamaguchi. Using SOS Message Propagation to Estimate the Location of Immobilized Persons. In Proceedings of the 18th annual international conference on Mobile computing and networking (MobiCom 2012), Demo session, August 2012.</li>
<li>Noriyuki Suzuki,&nbsp;<strong>Jane Louie Fresco Zamora</strong>, Shigeru Kashihara, and Suguru Yamaguchi. SOSCast: Location Estimation of Immobilized Persons through SOS Message Propagation. In Proceedings of the 4th International Conference on Intelligent Networking and Collaborative Systems (INCoS 2012), September 2012.</li>
</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h1 class="text-right">Contact Information</h1>
	</div>

	<div class="col-md-8">
		<p class="text-left">
			Internet Engineering Laboratory
			<br>
			Graduate School of Information Science, Nara Institute of Science and Technology
			<br>
			3rd Floor in Bldg. A, 8916-5 Takayama, Ikoma, Nara 630-0192, JAPAN
			<br>
			Phone: +81-743-72-5216 (Students Room)
			<br>
			FAX: +81-743-72-5219
			<br>
			mailto: louie-z[at]is.naist.jp

	</div>
</div>


