<footer class="footer">
  <small>
    by <a href="static_ulap/louie">Louie Zamora</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://ulap-research.blogspot.jp/">Blog</a></li>
      <li><a href="http://iplab.naist.jp/">IPLab</li>
    </ul>
  </nav>
</footer>