<footer class="footer">
  <small>
    © 2014 April 13 by <a href="/static_ulap/louie">Louie Zamora</a>. All rights reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to image_tag("googleplus.png", size:"30", alt:"googleplus"), "https://plus.google.com/u/0/107283834537960166489/posts" %></li>
      <li><%= link_to image_tag("twitter.png", size:"30", alt:"twitter"), "https://twitter.com/ulap_research" %></li>
      <li><%= link_to image_tag("facebook.png", size:"30", alt:"facebook"), "https://www.facebook.com/pages/ULAP-Research/792748644082610" %></li>
    </ul>
  </nav>
</footer>